<!-- <footer class="text-center text-gray-500 py-6 mt-10 border-t">
  <p>© 2025 Full Stack App · Built with  ❤️ By Ipsita Das</p>
</footer> -->


<!-- <footer class="text-center text-gray-500 py-6 border-t backdrop-blur-sm">
    <p>© 2025 Full Stack App · Built with ❤️ By Ipsita Das</p>
</footer> -->

<footer class="w-full text-center py-2">
    <div class="container mx-auto px-4">
        <p class="text-sm tracking-widest uppercase">
            © 2025 Edu Manage · Built with <span class="text-rose-600">❤️</span> By Ipsita Das
        </p>
    </div>
</footer>