<!-- <header class="bg-blue-500 shadow p-4 mb-6">
  <nav class="flex gap-6">
    <a href="/" data-link class="text-white hover:underline">Home</a>
    <a href="/students" data-link class="text-white hover:underline">Students</a>
    <a href="/teachers" data-link class="text-white hover:underline">Teachers</a>
    <a href="/marks" data-link class="text-white hover:underline">Marks</a>
    <marquee class="flex gap-2 bg-blue-500 text-white font-semibold" scroll amount="15" loop="infinite" >Welcome To Student Management Page ● Visit Students Page ● Visit Teachers Page ● Visit Marks Page ● Get,Create,Update,Delete</marquee>
  </nav>
</header> -->

<header class="bg-blue-500 shadow p-4 fixed top-0 left-0 right-0 z-50">
    <nav class="flex gap-6">
      <a href="/" data-link class="text-white hover:underline">Home</a>
      <a href="/students" data-link class="text-white hover:underline">Students</a>
      <a href="/teachers" data-link class="text-white hover:underline">Teachers</a>
      <a href="/marks" data-link class="text-white hover:underline">Marks</a>
      <a href="/student-marks-join" data-link class="text-white hover:underline">Report Card</a>
    </nav>
  </header>
